<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></body></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <%- include( './partials/header') %>
    <h1>Login</h1>

    <form action="/admin">
      <label for="user"> Nombre: </label>
      <input type="text" name="user" />
      <button type="submit">Ingresar</button>
    </form>

    <%= error %>
  </body>
</html>
